*, /*init added*/
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

.customSelectContainer {
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 300px;
  background: #3282f7;
  border-radius: 5px;
  overflow: hidden;
}

.customSelectLabel {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.customSelectArrow {
  transform: rotate(180deg);
}

.customSelectOptionsContainer {
  flex-direction: column;
  width: 100%;
  padding: 8px 0 0 0;
  display: none;
}

.customSelectOption {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  font-weight: 400;
  padding-left: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.selectedOption {
  background: linear-gradient(
      to right,
      rgba(107, 155, 228, 1),
      rgba(107, 155, 228, 0.3)
    ),
    #3282f7;
}

.highlightedOption {
  background: #3570c7;
  border: 2px solid #eb4a3f;
}
