*, /*init added*/
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 160px;
  width: 100%;
  padding-top: 2.625rem;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #d04f4f;
}

.section-searchOptions {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.section-searchOptions .mainSearchBar {
  width: 100%;
  background: #e7e7e7;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 70px;
  font-size: 18px;
  padding: 0 1.5rem;
}

.section-searchOptions .mainSearchBar::placeholder {
  color: black;
  opacity: 0.25;
}

.section-searchOptions .mainSearchBar:focus {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.section-searchOptions .mainSearchBar::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.section-searchOptions .mainSearchBar::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.section-searchOptions .mainSearchBar::-webkit-search-decoration,
.section-searchOptions .mainSearchBar::-webkit-search-cancel-button,
.section-searchOptions .mainSearchBar::-webkit-search-results-button,
.section-searchOptions .mainSearchBar::-webkit-search-results-decoration {
  display: none;
}

.section-searchOptions .inputFiltersContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
}

.inputFiltersContainer .inputnOptionsContainer {
  padding: 1.7rem 1.2rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.inputFiltersContainer .optionsContainer {
  display: none;
  /*row-gap: 1rem;*/
  margin-top: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  overflow: hidden;
}

.inputFiltersContainer .optionsContainer .options {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  /*border: 1px solid red;*/
  padding-right: 1rem;
  cursor: pointer;
  background: none;
  height: 2.2rem;
  padding-left: 1rem;
  min-width: 150px;
  padding-bottom: 1px;
}

.inputFiltersContainer .optionsContainer .options:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.blueContainer {
  background-color: #3282f7;
}

.orangeContainer {
  background-color: #ed6454;
}

.greenContainer {
  background-color: #68d9a4;
}

.expandedContainer {
  width: 50%;
}

.inputFiltersContainer input,
.inputFiltersContainer input:focus,
.inputFiltersContainer input:active {
  width: 240px;
  appearance: none;
  border: none;
  background: none;
  color: #fff;
  outline: none;
}

.inputFiltersContainer input::placeholder {
  font-family: "Lato";
  font-weight: 600;
  font-size: 17px;
  color: #fff;
}

.inputFiltersContainer input:focus::placeholder {
  opacity: 0.65;
}

.inputFiltersContainer input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.inputFiltersContainer input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.inputFiltersContainer input::-webkit-search-decoration,
.inputFiltersContainer input::-webkit-search-cancel-button,
.inputFiltersContainer input::-webkit-search-results-button,
.inputFiltersContainer input::-webkit-search-results-decoration {
  display: none;
}

.section-searchOptions .filtersContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
}

.section-searchOptions .filterSelect {
  width: 200px;
}

.searchResults {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1.5rem;
  margin: 3rem 0;
}

custom-select {
  width: fit-content;
  height: fit-content;
}

.recipeCardContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  height: 360px;
  overflow: hidden;
  border-radius: 5px;
  background: #e7e7e7;
  position: relative;
}

.recipePop {
  flex-direction: column;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
}

/*.recipeCardContainer:hover .recipePop {
  display: flex;
}*/

.recipeImg {
  width: 100%;
  height: 180px;
  background: #c7bebe;
}

.recipeDatasContainer {
  width: 100%;
  height: 180px;
  padding: 1.25rem;
}

.recipeHeadingDurationContainer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipeHeading {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  color: black;
}

.recipeDuration {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.clock {
  margin-right: 0.5rem;
  transform: translateY(3px);
}

.recipeIngredientsDesc {
  display: flex;
  margin-top: 1.2rem;
}

.recipeIngredientsDesc ul {
  height: 100%;
  width: 50%;
  overflow: hidden;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

.recipeDesc {
  height: 100%;
  width: 50%;
  display: flex;
  overflow: hidden;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.tagsContainer {
  display: flex;
  column-gap: 8px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 42px;
  border-radius: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.tag img {
  margin-left: 0.75rem;
  opacity: 0.9;
}

.ustensils-tag {
  background: #ed6454;
  border: 2px solid #ed6454;
}

.ingredients-tag {
  background: #3282f7;
  border: 2px solid #3282f7;
}

.appliances-tag {
  background: #68d9a4;
  border: 2px solid #68d9a4;
}

.ustensils-tag:hover {
  background: #f3958a;
}

.ingredients-tag:hover {
  background: #77a8f0;
}

.appliances-tag:hover {
  background: #9fe2c3;
}
